<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container margin-top-4em">
  <div class="row">
    <div class="col-sm-8 col-lg-4 col-sm-offset-2 col-lg-offset-4">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        
        <div class="form-group">
          <label>Correo</label>
          <input type="email" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error text-center">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             El correo y contraseña son obligatorios.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             El formato de correo esta incorrecto.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div>
          <button class="btn btn-pare btn-lg btn-login block-centered" type="submit">
            Entrar
          </button>
        </div>

      </form>


    </div>
  </div>
</div>

<!--footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer-->
